{% extends "base.html" %}

{% block content %}
<div class="well">
    <h3>Алиас '{{ title }}'</h3>
    {% include "flash.html" %}
    {% if description %}
    {% for d in description%}
    <p class="text-info"> {{ d }} </p>
    {% endfor %}
    {% endif %}
    <div>
        {% if values %}
        <ul>
            {% for name, value in values|dictsort %}
            {% if value %}
            <li>
                <a href="{{ name }}">{{ name }}</a>
            </li>
            {% else %}
            <li>
                {{ name }}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <p><a href="{{ url_for('alias.edit', name=title) }}">
         <button class="btn btn-primary">Изменить</button>
       </a>
    </p>
</div>
{% endblock %}
